body {
    background-color: lightgrey;
}

#btn-magalu{
    background-color: blue;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px 60px;
    font-size: 30px;
    margin: 50px;
}